/* app global css */
.q-item__label.q-item__label--caption.text-caption:empty {
  display: none;
}

.q-icon.on-right {
  margin-left: 6px;
}

.q-icon.on-left {
  margin-right: 6px;
}

/* Login y registro */

.auth-card {
  text-align: center;
  width: 100%;
  padding: 0 10px;
  max-width: 400px;
}

.auth-header {
  color: var(--q-secondary);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.auth-footer p {
  margin-bottom: 0;
}

.auth-footer a {
  font-weight: 600;
}

/* Avatar */
.user-avatar{ 
  color: var(--q-secondary);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 5rem;
}

/* Pages */
h5.page-title {
  margin-top: 0.5rem;
  font-weight: 600;
}